<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TP4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TP4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TP4.Properties.Settings>
            <setting name="token" serializeAs="String">
                <value />
            </setting>
            <setting name="langue" serializeAs="String">
                <value>fr-CA</value>
            </setting>
        </TP4.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <TP4.Properties.Settings>
            <setting name="nomBdSqlite" serializeAs="String">
                <value>meteo.db</value>
            </setting>
        </TP4.Properties.Settings>
    </applicationSettings>
</configuration>